/*This CSS is made by Silja Markku*/
.flexContainer{
    display: flex;
    align-content: space-between;
}

.flexContainer > div, div {
   margin: 5px;
    }

body {
margin: 0;
background-color: rgb(252, 209, 158);
}
.leftbar{
    color: black;
    width: 600px;
    border: 4px solid rgb(247, 187, 77);
    background-color: #ffe0b3;
    
    
}
.rightbar{
    color: black;
    width: 620px;
    border: 4px solid rgb(247, 187, 77);
    background-color:  #ffe0b3;
}
header {
margin-top: 10px;
font-size: x-large;
text-align: center;
font-weight: bold;
}
ul.no-bullets {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}
ul.separator {
	list-style: none;
	padding: 0;
	width: 100%;
}

ul.separator li {
	padding: .5em 0;
	border-bottom: 1px solid rgb(95, 92, 92);
}
* {
    box-sizing: border-box;
  }




